.navigation_bar{
    height: auto;
    width: 100%;
    background-color: #e6e6e6;
    padding-left: 30px;
    position: fixed;
    z-index: 10;
    top: 0;
}
.dark_mode_switch{
    float: right;
    padding: 30px;
}
.DarkMode{
    background-color: black;
    color: white;
}
.DarkMode .navigation_bar{
    background-color: #414a4c;
    color: white;
}
.DarkMode .work_card{
    background-color:#414a4c ;
}
.background_image{
    height: 300px;
    width: auto;
    background-image: url(../images/universe2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.info{
    height: auto;
    width: auto;
    justify-content: center;
    padding-bottom: 30px;
}
.info_head{
    text-align: center;
    padding-top: 30px;
    font-family: 'Dosis', sans-serif;
}
.work_card{
    height: auto;
    width: auto;
    margin: 50px;
    padding: 15px;
    border-radius: 20px;
    border-color: #cccccc;
}
.work_card_image{
    height: 250px;
    border: 0px solid;
    border-radius: 10px;
}
.work_card_title{
    animation: glow .5s infinite alternate;
    font-weight: bold;
}
@keyframes glow {
    to {
        text-shadow: 0 0 10px yellowgreen;
    }
}
.work_card:hover{
    background-image: url(../images/universe2.jpg);
    color: white;
}
.work_card .card-title{
    font-family: 'Space Mono', monospace;
}
.planets_space{
    height: auto;
    width: auto;
    background-image: url(../images/milk_way.jpg);
    background-repeat: inherit;
    background-attachment: fixed;
    justify-content: center;
    padding: 50px;
    padding-bottom: 100px;
}
/*.planet_title{
    justify-content: center;
    padding: 30px;
    font-family: 'Press Start 2P', cursive;
    background-image: url(../images/availabe_planets.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    font-weight: bold;
    border-top: 5px solid;
    border-bottom: 5px solid;
}*/
.planet_sphere{
    margin: 10px;
}
.Planet_earth{
    width: 300px;
    height: 300px;
    background-image: url(../images/planet_earth.jpg);
    border-radius: 50%;
    background-size: cover;
    box-shadow: 0 0 100px 20px #000 inset, 0 0 20px 2px #000;
    animation: spin 30s linear alternate infinite;
}
.Planet_mercury{
    width: 300px;
    height: 300px;
    background-image: url(../images/planet_mercury.png);
    border-radius: 50%;
    background-size: cover;
    box-shadow: 0 0 100px 20px #000 inset, 0 0 20px 2px #000;
    animation: spin 30s linear alternate infinite;
}
.Planet_venus{
    width: 300px;
    height: 300px;
    background-image: url(../images/planet_venus.jpg);
    border-radius: 50%;
    background-size: cover;
    box-shadow: 0 0 100px 20px #000 inset, 0 0 20px 2px #000;
    animation: spin 30s linear alternate infinite;
}
.Planet_mars{
    width: 300px;
    height: 300px;
    background-image: url(../images/planet_mars.jpg);
    border-radius: 50%;
    background-size: cover;
    box-shadow: 0 0 100px 20px #000 inset, 0 0 20px 2px #000;
    animation: spin 30s linear alternate infinite;
}
.Planet_jupiter{
    width: 300px;
    height: 300px;
    background-image: url(../images/planet_jupiter.jpg);
    border-radius: 50%;
    background-size: cover;
    box-shadow: 0 0 100px 20px #000 inset, 0 0 20px 2px #000;
    animation: spin 30s linear alternate infinite;
}
.Planet_saturn{
    width: 300px;
    height: 300px;
    background-image: url(../images/planet_saturn.jpg);
    border-radius: 50%;
    background-size: cover;
    box-shadow: 0 0 100px 20px #000 inset, 0 0 20px 2px #000;
    animation: spin 30s linear alternate infinite;
}
.Planet_uranus{
    width: 300px;
    height: 300px;
    background-image: url(../images/planet_uranus.jpg);
    border-radius: 50%;
    background-size: cover;
    box-shadow: 0 0 100px 20px #000 inset, 0 0 20px 2px #000;
    animation: spin 30s linear alternate infinite;
}
.Planet_neptune{
    width: 300px;
    height: 300px;
    background-image: url(../images/planet_neptune.jpg);
    border-radius: 50%;
    background-size: cover;
    box-shadow: 0 0 100px 20px #000 inset, 0 0 20px 2px #000;
    animation: spin 30s linear alternate infinite;
}
.Planet_pluto{
    width: 300px;
    height: 300px;
    background-image: url(../images/planet_pluto.jpg);
    border-radius: 50%;
    background-size: cover;
    box-shadow: 0 0 100px 20px #000 inset, 0 0 20px 2px #000;
    animation: spin 30s linear alternate infinite;
}
@keyframes spin{
    100%{background-position: 100%;}
}
.planet_name{
    color: white;
}

