.navigation_bar{
    height: auto;
    width: auto;
    background-color: #666666;
    padding-left: 30px;
}
.dark_mode_switch{
    float: right;
    padding: 30px;
}
.DarkMode{
    background-color: black;
    color: white;
}
.background_image{
    height: 250px;
    width: auto;
    background-image: url(../images/universe2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
